* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.weather-app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
    color: white;
    height: 50px;
}

.weather-app-container {
    display: flex;
    flex-direction: row;
}

.weather-search-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: lightgray;
    width: 40vw;
    height: 100vh;
}

.weather-search-form {
    padding-top: 20px;
}

.search-input {
    padding: 2px;
    border-radius: 3px;
}

#search-button {
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(56, 56, 209);
    color: white;
}

.weather-search-history {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2;
    margin-top: 20px;
    padding: 10px 5px;
    background-color: white;
    border: 1px solid;
    height: 100vh;
}

.weather-display-area {
    padding: 20px;
    line-height: 2;
}

.current-city-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border: 1px solid;
    border-color: lightgray;
    width: 75vw;
    height: 40vh;
}

.city-display {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: bold;
}

.current-date, .current-icon {
    padding-left: 20px;
}

.temp, .humidity, .wind, .uv {
    padding-left: 5px;
}

.current-city-five-day {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.five-day-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}

.five-day {
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(56, 56, 209);
    color: white;
    font-weight: bold;
    padding: 10px;
    height: 30vh;
    width: 12vw;
}

.five-day-temp-one, .five-day-temp-two, .five-day-temp-three, .five-day-temp-four, .five-day-temp-five {
    padding-left: 5px;
}

.five-day-humidity-one, .five-day-humidity-two, .five-day-humidity-three, .five-day-humidity-four, .five-day-humidity-five {
    padding-left: 5px;
}